body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

header h1 {
    margin-top: -7px;
    font-size: 24px;
    float:left;
}
.clear_both {
    clear: both;
}
nav {
    margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}


.hero {
    position: relative;
    text-align: center;
    color: white;
    padding: 0px 0px;
    margin:0;
}
.hero h2{
    font-size: 60px;
    text-shadow: 2px 2px 5px black;
}
.hero p{
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
}
.hero img {
    width: 100%;
    height: 100vh;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured-products {
    background-color: white;
    padding: 40px 0;
}

.product {
    margin: 20px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.price {
    color: #007bff;
    font-size: 18px;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}
